<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Muli|Permanent+Marker" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat the Burger!</title>
	</head>
	<body class="full-page">
		{{{ body }}}
	</body>
</html>
